/*-------------- RESET STYLE ------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*background: transparent;*/
  /*direction: rtl;*/
  text-transform: capitalize;
  /*font-family: "Tahoma";*/
  box-sizing: border-box;
}
@font-face {
  font-family: 'byekan';
  src: url('../fonts/BYekan.woff') format('woff2'),
  url('../fonts/BYekan.eot') format('eot');
}
/*************************global*************************/
.container{
  width: 1280px;
  margin: auto;
}
body{
  background-color: white;
  font-family:byekan;
}
header{
  position: fixed;
  width: 100%;
  z-index: 3;
}
.flright{
  float: right;
}
.parallax-window {
  min-height: 800px;
  background: transparent;
}

.bottom_highlight{
  display: none;
}
/*@media only screen and (max-width: 1280px){*/
  /*header div.haraj img{right:0};*/
  /*header div.haraj img:width:100%;*/
/*}*/

@media only screen and (max-width: 766px) {
  header div.global div.container div.right ul.nav.navbar-nav li{
    float: left;

  }
}
/*@media only screen and (max-width: 1200px){*/
  /*header div.haraj{width: 0}*/
  /*header div.menu2 ul li{*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
  /*}*/
/*}*/
/***********************************slick*******************************/



.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.vertical-center-4{
  margin: auto;
  width: 100%;
}
.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
section.vertical-sliser {
  width: 100%;
}
.rtl {
  direction: rtl;
}
/*******************part 01 *******************/
/*****************start section 1**************/
header div.haraj{
  width: 100%;
  /*height: 37px;*/
  height: 100%;
  background-color: black;
}
header div.haraj img{
  position: relative;
  /*right: 6%;*/
  width: 100%;
}
/*!****************end sectin 1*******************/

/*****************start section 2**************/
header div.global{
  border-bottom: #f6f6f6 1px solid;
  height: 35px;
  background-color: white;
  width: 100%;
}
header div.global div.container div.right{}
header div.global div.container div.right ul.nav.navbar-nav{}
header div.global div.container div.right ul.nav.navbar-nav li{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #f6f6f6;
  color: #808080;
}
header div.global div.container div.right ul.nav.navbar-nav li.btn{
  border-radius: 0;
}
header div.global div.container div.right ul.nav.navbar-nav li.btn:hover{
  background-color: #8e44ad;
  color: white;
}
header div.right ul{
  float: right;
  direction: rtl;
}
header div.global div.container div.right ul.nav.navbar-nav li.text-right{
  /*padding-top: 8px;*/
  /*padding-right: 23px;*/
  /*padding-left: 23px;*/
  /*padding-bottom: 5px;*/
  padding: 8px 23px 5px 23px;
}
header div.global div.container div.right ul.nav.navbar-nav li.text-right input{
  border: none;
  position: relative;
  margin-right: 5px;
  top: -4px;
  width: 382px;
}
header div.global div.container div.right ul.nav.navbar-nav li.text-right input:focus{
  outline: none;
}
header div.global div.container div.right ul.nav.navbar-nav li.text-right i{
  color:#8e44ad ;
}
header div.global div.container div.right ul.nav.navbar-nav li.text-right i a{
  text-decoration: none;
  color: #808080;
}
/*!****************end sectin 2*******************/
/*!****************start sectin 3*******************/
header div.menu2{
  background-color: white;
  position: relative;
  width: 100%;

}
header div.menu2 ul{}
header div.menu2 ul li.btn{
  padding: 6px;
}
/*header div.menu2 ul li.btn{*/
  /*padding: 0;*/
/*}*/
header div.menu2 ul li.btn:hover{
  background-color: #8e44ad;
  color: white;
}
header div.menu2 ul li a{
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding-right: 10px;*/
  color: #9a9a9a;
}
header div.menu2 ul li a span{
color: #9a9a9a;
}
header div.menu2 ul li a span.purple{
  color: #8e44ad;
  /*font-size: 15px;*/
  font-weight: 900;
}
header div.menu2 ul li a span.purple:hover{
  color: white;
}
header div.menu2 ul li a span:hover{
  /*color: white;*/
  /*padding: 10px;*/
}
header div.menu2 ul li a:hover{
  text-decoration: none;
  color: white;
}
header div.menu2 img#logo{
  position: relative;
  right: 211px;

}
.DivChev{
  top: 7px;
  border-bottom: 6px solid #fff;
  border-left: 6px solid rgba(0,0,0,0);
  border-right: 6px solid rgba(0,0,0,0);
  /*bottom: -3px;*/
  clear: both;
  height: 0;
  margin: auto;
  position: relative;
  right: 0;
  width: 0;
}
/*!****************end section 3*******************/
/*************************start section 4 menu jquery************************/
/***********************************زنانه********************************/


div.container div.row div.column div.arrow_box1{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -5px;
  height: 500px;
  margin: auto;
  width: 1200px;
  z-index: 10;
  /*display: none;*/
  border-radius: 5px;
}
div.container div.row div.column div.arrow_box1 ul{
  float: right;
  list-style-type: none;
  margin: 5px 5px 5px 25px;
}
div.container div.row div.column div.arrow_box1 ul li {
  border-bottom: 1px solid #d5d5d5;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
}
div.container div.row div.column div.arrow_box1 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box1 ul li a{
  padding-right: 10px;
  /*padding-left: 10px;*/
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box1 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box1 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box1 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box1 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
div.container div.row div.column div.arrow_box1 img#women{
  position: relative;
  top:100px;
}
/*************************************مردانه************************************************/
div.container div.row div.column div.arrow_box2 {
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -49px;
  height: 425px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box2 ul{
  float: right;
  list-style-type: none;
  margin: 15px 10px 5px 43px;
}
div.container div.row div.column div.arrow_box2 ul li {
  border-bottom: 1px solid #d5d5d5;
}
div.container div.row div.column div.arrow_box2 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box2 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box2 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box2 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box2 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box2 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
div.container div.row div.column div.arrow_box2 img#men{
  position: relative;
  top: 39px;
  left: 20px;
}
/************************************************بچه گانه*********************************************/
div.container div.row div.column div.arrow_box3{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -97px;
  height: 358px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box3 ul{
  float: right;
  list-style-type: none;
  margin: 15px 10px 5px 43px;
}
div.container div.row div.column div.arrow_box3 ul li {
  border-bottom: 1px solid #d5d5d5;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
}
div.container div.row div.column div.arrow_box3 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box3 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box3 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box3 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box3 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box3 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
div.container div.row div.column div.arrow_box3 img#child{
  position: relative;
  top: 30px;
  left: -153px;
}
/*******************************کیف و کفش*********************************!*/
div.container div.row div.column div.arrow_box4{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -156px;
  height: 370px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box4 ul{
  float: right;
  list-style-type: none;
  margin: 15px 10px 5px 43px;
}
div.container div.row div.column div.arrow_box4 ul li {
  border-bottom: 1px solid #d5d5d5;
}
div.container div.row div.column div.arrow_box4 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box4 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box4 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box4 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box4 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box4 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
div.container div.row div.column div.arrow_box4 img#bag{
  position: relative;
  top: 22px;
  left: -66px;
}

/***************************************عطر و ادکلن*************************************/
div.container div.row div.column div.arrow_box5{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -240px;
  height: 412px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box5 ul{
  float: right;
  list-style-type: none;
  margin: 12px 110px 5px 43px;

}
div.container div.row div.column div.arrow_box5 ul li {
  border-bottom: 1px solid #d5d5d5;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
}
div.container div.row div.column div.arrow_box5 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box5 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  /*text-align: right;*/
}
div.container div.row div.column div.arrow_box5 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box5 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box5 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box5 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
/************************************اکسسوری**************************************/
div.container div.row div.column div.arrow_box6{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -312px;
  height: 327px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box6 ul{
  float: right;
  list-style-type: none;
  margin: 15px 10px 5px 43px;
}
div.container div.row div.column div.arrow_box6 ul li {
  border-bottom: 1px solid #d5d5d5;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
}
div.container div.row div.column div.arrow_box6 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box6 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box6 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box6 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box6 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box6 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
/****************************************آرایشی بهداشتی********************************/
div.container div.row div.column div.arrow_box7{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -383px;
  height: 355px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box7 ul{
  float: right;
  list-style-type: none;
  margin: 15px 10px 5px 43px;
}
div.container div.row div.column div.arrow_box7 ul li {
  border-bottom: 1px solid #d5d5d5;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
}
div.container div.row div.column div.arrow_box7 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box7 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box7 ul li a i{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box7 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box7 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box7 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
div.container div.row div.column div.arrow_box7 img#makeup{
  position: relative;
  top: 31px;
  left: -69px;
}
/*********************************لوازم خانگی**********************************/
div.container div.row div.column div.arrow_box8{
  position: absolute;
  background: #fdf9ff;
  border-top: 4px solid #8e44ad;
  top: 6px;
  right: -491px;
  height: 357px;
  margin: auto;
  width: 1200px;
  z-index: 4;
  border-radius: 5px;

  /*display: none;*/
}
.submenu_div{
  display: none;
  position: absolute;

}
div.container div.row div.column div.arrow_box8 ul{
  float: right;
  list-style-type: none;
  margin: 15px 10px 5px 43px;
}
div.container div.row div.column div.arrow_box8 ul li {
  border-bottom: 1px solid #d5d5d5;

}
div.container div.row div.column div.arrow_box8 ul li:hover{
  background-color:#fff ;
}


div.container div.row div.column div.arrow_box8 ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  display: block;
  text-align: right;
}
div.container div.row div.column div.arrow_box8 ul li a i{
  color:#8e44ad ;

}
div.container div.row div.column div.arrow_box8 ul li a:hover{
  text-decoration: none;
}
div.container div.row div.column div.arrow_box8 ul li a span{
  color:#8e44ad ;
}
div.container div.row div.column div.arrow_box8 ul li a span.title{
  font-size: 20px;
  font-weight: 900;
}
div.container div.row div.column div.arrow_box8 img#Home-Appliances{
  position: relative;
  top: 30px;
  width: 296px;
  height: 220px;
  left: 10px;
}
/*************************end section 4 menu jquery************************/
/***************************************************end part 1 (header)************************************/
/***************************************************start part 2 (slider)************************************/
.carousel {
  position: relative;
  top: 96px;
}
.carousel-indicators{
  z-index: 2;
}
/***************************************************end part 2 (slider)************************************/
/***************************************************start part 3 ************************************/
/*<!--*******************************start section 1***********************************-->*/
div.image{
  position: relative;
  top: 97px;
  background-color: white;
}
/*div.image div.row{*/
  /*width: 90%;*/
  /*margin: auto;*/
/*}*/
/*div.image div.row:after{*/
  /*content: "";*/
  /*clear: both;*/
  /*display: table;*/
/*}*/
/*div.image div.row div.column{*/
  /*!*float: left;*!*/
  /*width: 100%;*/
  /*flex: 100%;*/
  /*padding: 5px;*/
/*}*/
div.image div.container img{
  position: relative;
  /*margin-right: 77px;*/
  margin: auto;
}
/*<!--*******************************end section 1***********************************-->*/
/*<!--*******************************start section 2***********************************-->*/
div#box_advertise{
  background-color: #fdf9ff;
  margin-top: 130px;
  padding-bottom: 15px;
  padding-top: 18px;
  border-top: #eeedf1 1px solid;
  border-bottom: #eeedf1 1px solid;
  margin-bottom: 20px;
}
div#box_advertise div.adver{
  width: 90%;
  margin: auto;
}
/* Clear floats after image containers */
div#box_advertise div.adver::after {
  content: "";
  clear: both;
  display: table;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
div#box_advertise div.adver div.column {
  float: left;
  width: 31.33%;
  padding: 1px;
  flex: 50%;
  margin-bottom: 12px;
  margin-right: 13px;
}


/*div.box div.row div.column a:hover{*/
  /*transform: rotate(20deg)*/

/*}*/
div#box_advertise div.adver div.column a img{
  /*cursor: pointer;*/
  width: 100%;
}
div#box_advertise div.adver div.column a img{
}

div#box_advertise div.adver div.column a img.width200{
  width: 203.5%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
/*<!--*******************************end section 2***********************************-->*/
/***************************************************end part 3 ************************************/

/***************************************************start part 4 ************************************/
/*<!--********************start section 1************************-->*/
div.minibox{
  border: 1px solid #f0f0f1;
  background-color: #fff;
  margin: auto;
  width: 132px;
  height: 41px;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #8e44ad;
  font-weight: 900;
  position: relative;
}
div.minibox p{
  display: inline;
  text-align: center;
}
/*<!--********************end section 1************************-->*/

/*<!--********************start section 2************************-->*/
div.box2{
  background-color: #fdf9ff;
  padding-bottom: 15px;
  height: 500px;
  margin-top: -21px;
  border-top: #eeedf1 1px solid;
  border-bottom: #eeedf1 1px solid;
  margin-bottom: 20px;
  text-align: center;
}
div.box2 div.container{
  position: relative;
  top: 80px;
}
div.box2 div.pic_box a img{
  border-radius: 10px;

}
.pic_box a:focus {
  outline: none;
}

div.box2 div.bottom_highlight{
  width: 100%;
  height: 32px;
  background-color: #8e44ad;
  position: relative;
  top: -32px;
  text-align: center;
  color: white;
  padding-top: 5px;
  /*display: block;*/
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}
div.box2 div.pic_box div.sub_text a{
  display: block;
  text-decoration: none;
  padding-top: 10px;
  color: #808080;
  direction: rtl;
}

div.box2 div.pic_box div.sub_text i{
  color:#fba500 ;
}
div.box2 div.pic_box div.sub_text i.gray{
  color: grey;
}
div.box2 div.pic_box div.sub_text strike{
  color:#8d8d8d;
  font-size: 12px;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 4 ************************************/

/***************************************************start part 5 ************************************/
/*<!--********************start section 1************************-->*/
div.minibox2{
  border: 1px solid #f0f0f1;
  background-color: #fff;
  margin: auto;
  width: 132px;
  height: 41px;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #8e44ad;
  font-weight: 900;
  position: relative;
  top: 10px;
}
/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box3{
  background-color: #fdf9ff;
  padding-bottom: 15px;
  height: 223px;
  margin-top: -11px;
  border-top: #eeedf1 1px solid;
  border-bottom: #eeedf1 1px solid;
  margin-bottom: 20px;
}
div.box3 div.Blog_posts{
  position: relative;
  top:20px;
}
div.box3 img{
  width: 370px;
  height: 158px;
  position: relative;
  top: 10px;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 5 ************************************/

/***************************************************start part 6 ************************************/
/*<!--********************start section 1************************-->*/
div.minibox3{
  border: 1px solid #f0f0f1;
  background-color: #fff;
  margin: auto;
  width: 132px;
  height: 41px;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #8e44ad;
  font-weight: 900;
  position: relative;
  top: 10px;
}
/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box4{
  background-color: #fdf9ff;
  padding-bottom: 15px;
  height: 500px;
  margin-top: -11px;
  border-top: #eeedf1 1px solid;
  border-bottom: #eeedf1 1px solid;
  margin-bottom: 20px;
}
div.box4 div.container{
  position: relative;
  top: 80px;
}
div.box4 div.pic_box a img{
  border-radius: 10px;
}
div.box4 div.bottom_highlight{
  width: 100%;
  height: 32px;
  background-color: #8e44ad;
  position: relative;
  top: -32px;
  text-align: center;
  color: white;
  padding-top: 5px;
  /*display: none;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.box4 div.pic_box div.sub_text{
  text-align: center;
}
div.box4 div.pic_box div.sub_text a{
  display: block;
  text-decoration: none;
  padding-top: 10px;
  color: #808080;
  direction: rtl;
}

div.box4 div.pic_box div.sub_text i{
  color:#fba500 ;
}
div.box4 div.pic_box div.sub_text i.gray{
  color: grey;
}
div.box4 div.pic_box div.sub_text strike{
  color:#8d8d8d;
  font-size: 12px;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 6 ************************************/

/***************************************************start part 7 ************************************/
/*<!--********************start section 1************************-->*/
div.minibox4{
  border: 1px solid #f0f0f1;
  background-color: #fff;
  margin: auto;
  width: 132px;
  height: 41px;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #8e44ad;
  font-weight: 900;
  position: relative;
  top:10px;
}
/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box5{
  background-color: #fdf9ff;
  padding-bottom: 15px;
  height: 500px;
  margin-top: -11px;
  border-top: #eeedf1 1px solid;
  border-bottom: #eeedf1 1px solid;
  margin-bottom: 20px;
}
div.box5 div.container{
  position: relative;
  top: 80px;
}
div.box5 div.pic_box a img{
  border-radius: 10px;
}
div.box5 div.bottom_highlight{
  width: 100%;
  height: 32px;
  background-color: #8e44ad;
  position: relative;
  top: -32px;
  text-align: center;
  color: white;
  padding-top: 5px;
  /*display: none;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.box5 div.pic_box div.sub_text{
  text-align: center;
}
div.box5 div.pic_box div.sub_text a{
  display: block;
  text-decoration: none;
  padding-top: 10px;
  color: #808080;
  direction: rtl;
}

div.box5 div.pic_box div.sub_text i{
  color:#fba500 ;
}
div.box5 div.pic_box div.sub_text i.gray{
  color: grey;
}
div.box5 div.pic_box div.sub_text strike{
  color:#8d8d8d;
  font-size: 12px;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 7 ************************************/

/***************************************************start part 8 ************************************/
/*<!--********************start section 1************************-->*/
div.minibox5{
  border: 1px solid #f0f0f1;
  background-color: #fff;
  margin: auto;
  width: 209px;
  height: 41px;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #8e44ad;
  font-weight: 900;
  position: relative;
  top: -1px;
}
/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box6{
  background-color: #fdf9ff;
  padding-top: 45px;
  text-align: center;
  /* padding-bottom: 15px; */
  height: 120px;
  margin-top: -23px;
  border-top: #eeedf1 1px solid;
   margin-bottom: -10px;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 8 ************************************/
/***************************************************start part 9 ************************************/
/*<!--********************start section 1************************-->*/

/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box7{
  background:  url("../images/background.jpg")  fixed ;
  padding-bottom: 15px;
  height: 500px;
  margin-top: 10px;
  border-top: #eeedf1 1px solid;
  position: relative;
/*opacity: .5%;*/
}
div.box7 div.bg_box7{
  position: absolute;
  width: 100%;
  height: 500px;
  background: rgba(0,0,0,.56);
}
/*div.box7 {*/
  /*opacity: 0.8;*/
/*}*/

div.box7 img{
  margin-right: 40%;
  margin-top: 126px;
  position: relative;
}
div.box7 p{
  margin-right: 34%;
  margin-top: 10px;
  font-size: 23px;
  font-weight: 900;
  color: white;
  position: relative;
}
div.box7 input{
  background-color: #67cbc5;
  border-color: transparent;
  margin-right: 46%;
  border-radius: 15px;
  margin-top: 10px;
  color: white;
  width: 152px;
  font-size: 20px;
  position: relative;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 9 ************************************/
/***************************************************start part 10 ************************************/
/*<!--********************start section 1************************-->*/

/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box8{
  background: #18181a;
  padding-bottom: 15px;
  height: 186px;

}
div.box8 div.flright {
  padding-top: 20px;
  /*color: #bbb;*/
}
div.box8 div.flright ul {
list-style-type: none;
  margin-left: 10px;
}


div.box8 div.flright ul li{

}
div.box8 div.flright ul li a{
  text-decoration: none;
  color: #bbb;
  font-weight: 100;
  margin: 5px;
}
div.box8 div.flright ul li a:hover{
  padding-right: 5px;
  color: #fff;
  transition: 0.2s;
}

/*<!--********************end section 2************************-->*/
/***************************************************end part 10 ************************************/
/***************************************************start part 11 ************************************/
/*<!--********************start section 1************************-->*/

/*<!--********************end section 1************************-->*/
/*<!--********************start section 2************************-->*/
div.box9{
  background: #0c0c0c;
  height: 80px;
  text-align: center;
}
div.box9 p {
  color: white;
  padding-top: 10px;
}
/*<!--********************end section 2************************-->*/
/***************************************************end part 11 ************************************/


/*****************************************************page 02 **********************************************/
/***********************************start part 02*******************************/
div.part2{}
/***********************************end part 02*******************************/

/***********************************start part 03*******************************/
/****************start section 01*****************/
div.part3{
  background-color: #fff;
  position: relative;
}
div.part3 div.section01{
  margin: auto;
  text-align: center;
  direction: rtl;
  padding-top: 20px;
  line-height: 5em;
}
div.part3 div.section01 div.Paragraph1{
  margin-top: 20px;

}
div.part3 div.section01 div.paragraph2{
  margin-top: 20px;
}
div.part3 div.section01 h1{
  color: #8e44ad;
  font-weight: 900;
}
div.part3 div.section01 h2{
  font-weight: 600;
}
div.part3 div.section01 h3{}
div.part3 div.section01 h3 span{
  font-weight: 900;
  color: #8e44ad;
}
/****************end section 01*****************/
/****************start section 02*****************/
div.part3 div.section02{
  margin-top: 20px;
}
div.part3 div.section02  a img{
  width: 400px;
  height: 400px;
}
div.part3 div.section02 a{
  position: relative;
}
div.part3 div.section02 i{
  position: absolute;
  top: 159px;
  right: 178px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
}
div.part3 div.section02 i:hover{
  cursor: pointer;
  color:#8e44ad ;
}
/****************end section 02*****************/
/****************start section 03*****************/
div.part3 div.section03{
  direction: rtl;
  margin-top: 20px;
  margin-bottom: 40px;
}
div.part3 div.section03 div.box_col_md{
  /*border: 2px salmon solid;*/
  padding: 60px;
  -webkit-box-shadow: 0px 2px 2px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 2px 4px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 2px 4px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
div.part3 div.section03 div.box_col_md a.button{
  background-color:#8e44ad ;
  padding: 6px 63px;
  border-radius: 17px;
  color: white;
  text-decoration: none;
  display: inline;
}
div.part3 div.section03 div.box_col_md p#col-md{
  display: inline;
  margin-right: 50px;
  font-weight: 800;
}
div.part3 div.section03 div.box-col-md-paragraph{
  padding: 10px;
}
div.part3 div.section03 div.box-col-md-paragraph p{
  font-weight: 600;
  font-size: 18px;
}
div.part3 div.section03 div.box-col-md-paragraph p span{
  color: #8e44ad;
  font-size: 20px;
}
/****************end section 03*****************/
/***********************************end part 03*******************************/

/***********************************end part 04*******************************/
/****************start section 01*****************/
div.minibox_page2_1{
  border: 1px solid #f0f0f1;
  background-color: #fff;
  margin: auto;
  width: 164px;
  height: 41px;
  padding: 6px;
  text-align: center;
  font-size: 19px;
  color: #8e44ad;
  /* font-weight: 900; */
  position: relative;
}
/****************end section 01*****************/
/****************start section 02*****************/
/*as css box2 in page 004*/

/****************end section 02*****************/

/***********************************end part 04*******************************/
/***********************************start part 05*******************************/
div.part5{

}
/***********************************end part 05*******************************/
/***********************************start part 06*******************************/
/****************start section 01*****************/
div.part6{
  padding-top: 20px;
}
div.part6 div.section02 img{
  width: 400px;
  height: 400px;
}
/****************end section 01*****************/
div.part6 div.section03{
  margin-top: 20px;
}
div.part6 div.section03 div.box_col_md{
  direction: rtl;
  padding: 60px;
  -webkit-box-shadow: 0px 2px 2px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 2px 4px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 2px 4px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
div.part6 div.section03 div.box_col_md a.button{
  background-color:#8e44ad ;
  padding: 6px 63px;
  border-radius: 17px;
  color: white;
  text-decoration: none;
  display: inline;
}
div.part6 div.section03 div.box_col_md p#col-md22{
  display: inline;
  margin-right: 50px;
  font-weight: 800;
}
div.part6 div.section03 div.box-col-md-paragraph{
  padding: 10px;
  direction: rtl;
}
div.part6 div.section03 div.box-col-md-paragraph p{
  word-spacing: 1px;
  font-size: 15px;
}
div.part6 div.section03 div.box-col-md-paragraph  span{
  color: #8e44ad;
  font-size: 20px;
}
/***********************************end part 06*******************************/
/**********************************start part 07*******************************/
/*copy part4*/
/***********************************end part 07*******************************/
/***********************************start part 08*******************************/
div.part8{
  text-align: center;
  margin: auto;
  direction: rtl;
}
div.part8 a#button{
  background-color: #8e44ad;
  padding: 6px 63px;
  text-decoration: none;
  color: white;
  border-radius: 18px;
}
/***********************************start part 08*******************************/
/***********************************start part 09*******************************/
div.part9{

}
/***********************************end part 09*******************************/