/*-------------- RESET STYLE ------------------ */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*background: transparent;*/
    /*direction: rtl;*/
    /*text-transform: capitalize;*/
    /*font-family: "Tahoma";*/
    /*box-sizing: border-box;*/
}
.container{
    width: 1280px;
    margin: auto;
}
.rtl{
    direction: rtl;

 }

/*********************top pic*********************/
div.top_pic img{
    width: 100%;
}

/**********************************menu***********************************/
/*********************start section 01**********************/
div.menu{
    width: 100%;
    border-bottom: #f6f6f6 1px solid;
}
div.menu header{
    width: 80%;
}
div.menu header ul li{
    display: inline;
}
/*********************end section 01**********************/